{% extends 'devconnect/base.html' %}
{% load static %}

{% block title %}Book an Appointment{% endblock %}

{% block content %}
<h2>Book Your Appointment</h2>
<!-- Check for errors-->
{% if form.errors %}
    <div class="form-errors"></div>
        <p>please correct the following errors</p>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{%endif%}

<form method="post" enctype="multipart/form-data"></form>
{% csrf_token %}

    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Full Name </label>
        {{ form.name }}
    </div>

    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label for="{{ form.date.id_for_label }}">Appointment Date</label>
        {{ form.date }}
    </div>

    <button type="Submit" class="btn-submit"> Book Now</button>